body {
    font-size: 16px;
    color: #fff;
    background-color: #87a461;
    font-family: 'Oxygen', sans-serif;
}


/**header**/

#header-nav {
    background-color: #6e9324;
    border-radius: 0;
    border: 0;
    font-size: 24px;
}

.navbar-brand {
    font-family: 'Lora', serif;
}